openapi: 3.1.0
info:
  title: Paysecure Merchant API
  version: 1.0.0
  summary: Merchant-facing pay-in, payout and platform APIs.
  description: "Bootstrapped from the developer-docs prototype and factored into shared components. Backend confirmed on 14 July 2026 that the documented endpoints and request/response shapes match the live API, so the paths, operations and examples are treated as accurate. Remaining hardening not covered by that confirmation: scalar field types, required flags, and completeness of the MethodCode/TransactionStatus enums. See SPEC_NOTES.md."
  license:
    name: Proprietary — Paysecure internal
    url: https://paysecure.com
servers:
  - url: https://api.paysecure.net/api/v1
    description: Sandbox and production share this base URL; the environment is selected by the Is Sandbox flag on the API key.
security:
  - bearerAuth: []
    brandId: []
tags:
  - name: ACH Payout
    description: ACH Payout endpoints.
  - name: Bank & local APMs
    description: Bank & local APMs endpoints.
  - name: Bank Transfers
    description: Bank Transfers endpoints.
  - name: Cards (S2S)
    description: Cards (S2S) endpoints.
  - name: Cashier & Session APIs
    description: Cashier & Session APIs endpoints.
  - name: Neosurf
    description: Neosurf endpoints.
  - name: Network tokenisation
    description: Network tokenisation endpoints.
  - name: Open Banking
    description: Open Banking endpoints.
  - name: Partial Refunds
    description: Partial Refunds endpoints.
  - name: Payout Manual Review
    description: Payout Manual Review endpoints.
  - name: Pre-authorization
    description: Pre-authorization endpoints.
  - name: Recurring & mandates
    description: Recurring & mandates endpoints.
  - name: Transaction Reporting
    description: Transaction Reporting endpoints.
  - name: Trust Score
    description: Trust Score endpoints.
x-tagGroups:
  - name: Core & platform
    tags:
      - Cashier & Session APIs
      - Partial Refunds
      - Payout Manual Review
      - Transaction Reporting
      - Trust Score
  - name: Payment methods
    tags:
      - ACH Payout
      - Bank & local APMs
      - Bank Transfers
      - Cards (S2S)
      - Neosurf
      - Open Banking
  - name: Features
    tags:
      - Network tokenisation
      - Pre-authorization
      - Recurring & mandates
paths:
  /payout/:
    post:
      tags:
        - ACH Payout
      summary: POST /payout/
      operationId: postPayout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayoutRequest"
            examples:
              ACH Payout:
                value:
                  client:
                    full_name: Test User
                    email: user@example.com
                    phone: "+15551234567"
                    country: US
                    stateCode: NY
                    city: New York
                    date_of_birth: 1996-05-18
                    street_address: 30 Main Street
                    zip_code: 31501
                  beneficiaryDetail:
                    bankAccountNumber: 1234567890120000
                    bankAccountName: Rahul Agarwal
                    routingNumber: 21000021
                    bankName: JPMorgan Chase
                  payoutMethod: PAYOUT-ACH
                  currency: USD
                  amount: 5
                  purpose: test payout
                  extraParam:
                    productType: Compensation
                    ach_type: same_day
                  success_callback: https://example.com/webhook/success
                  failure_callback: https://example.com/webhook/failure
              Bank Transfers:
                value:
                  client:
                    email: rahul@gmail.com
                    full_name: Test test
                    country: DE
                    city: Zurich
                    stateCode: QLD
                    street_address: 10 New Burlington Street Apt. 214
                    zip_code: W1S 3BE
                    phone: "+448839471521"
                  beneficiaryDetail:
                    bankAccountName: Rahul Agarwal
                    bankAccountNumber: 645101511808
                    bankCountryCode: AT
                  purpose: Testing payout
                  currency: EUR
                  payoutMethod: PAYOUT-BANKTRANSFER
                  amount: 10
                  success_redirect: https://your.success.redirect.com
                  failure_redirect: https://your.failure.redirect.com
              Cards (S2S):
                value:
                  client:
                    email: recipient@example.com
                    full_name: Rahul Jain
                    phone: +44 9876543210
                    city: London
                    country: GB
                    stateCode: QLD
                    street_address: 10 New Burlington Street
                    zip_code: W1S 3BE
                  payoutMethod: PAYOUT-CARDS
                  currency: GBP
                  amount: 100
                  extraParam:
                    cardNumber: 5431240006334004
                    cardHolderName: Rahul Agarwal
                    expiryYear: 2030
                    expiryMonth: 11
                  purpose: Player withdrawal
                  merchantRef: PO-88121
              FawryPay:
                value:
                  client:
                    email: recipient@example.eg
                    phone: 9586445444
                    full_name: Pay Secure
                    country: EG
                    documentId: 29206260104051
                  payoutMethod: PAYOUT-FAWRYPAY
                  currency: EGP
                  amount: 20
                  purpose: test payout
                  success_callback: https://merchant.example/success
                  failure_callback: https://merchant.example/failure
              Interac e-Transfer:
                value:
                  client:
                    email: recipient@example.ca
                    full_name: Pay Secure
                    phone: "+14378817874"
                    street_address: 1 Front St W
                    city: Toronto
                    stateCode: ON
                    country: CA
                    zip_code: M5J 1E5
                  payoutMethod: PAYOUT-INTERAC-ETRANSFER
                  currency: CAD
                  amount: 18
                  purpose: Withdrawal
              Interac Express:
                value:
                  client:
                    email: recipient@example.ca
                    full_name: Pay Secure
                    phone: "+14377717874"
                    country: CA
                  payoutMethod: PAYOUT-INTERAC-EXPRESS
                  currency: CAD
                  amount: 10
                  purpose: Transfer Reversed
              Interac Request Money:
                value:
                  client:
                    email: recipient@example.ca
                    full_name: Pay Secure
                    phone: "+14377717874"
                    country: CA
                  payoutMethod: PAYOUT-INTERAC-REQUEST-MONEY
                  currency: CAD
                  amount: 18
                  purpose: Transfer Reversed
              MobileMoney:
                value:
                  client:
                    full_name: Test Recipient
                    email: recipient@example.cd
                    phone: "+243999999999"
                    street_address: 10 New Burlington Street
                    city: Kinshasa
                    stateCode: KN
                    country: CD
                    zip_code: 0
                  payoutMethod: PAYOUT-MOBILEMONEY
                  currency: CDF
                  amount: 100
                  purpose: Withdrawal
                  success_redirect: https://merchant.example/success
                  pending_redirect: https://merchant.example/pending
                  failure_redirect: https://merchant.example/failure
              Neosurf:
                value:
                  client:
                    email: recipient@example.com
                    full_name: Payout User
                    phone: "+61411111111"
                    country: AU
                    stateCode: NSW
                  purpose: Withdrawal
                  currency: AUD
                  payoutMethod: PAYOUT-NEOSURF
                  amount: 20
                  success_callback: https://merchant.example/success
                  failure_callback: https://merchant.example/failure
              PayID:
                value:
                  client:
                    email: recipient@example.au
                    country: AU
                    phone: "+61755564318"
                    full_name: Test Person
                  purpose: testing payout
                  currency: AUD
                  payoutMethod: PAYOUT-PAYID
                  amount: 50
                  extraParam:
                    payId: KeU6r2egQmQZeqUfkPYC7HSU1EDrn2GYyU
                    bankName: Test bank name
                    accountName: Test Person
                  success_callback: https://merchant.example/callback/success
                  failure_callback: https://merchant.example/callback/failure
              PIX:
                value:
                  client:
                    email: test@gmail.com
                    full_name: Test Test
                    phone: "+558262362732"
                    country: BR
                    city: Brasilia
                    stateCode: SP
                    street_address: Praca da Biblia 1308
                    zip_code: 57312-140
                    documentType: evp
                    documentId: 97c1c590-554b-4449-a0f1-8da9f9756937
                  payoutMethod: PAYOUT-PIX
                  currency: BRL
                  amount: 10
                  purpose: payout to test
                  brand_id: "{{BrandId}}"
                  success_redirect: https://merchant.example/success
                  failure_redirect: https://merchant.example/failure
              SPEI:
                value:
                  client:
                    email: recipient@example.mx
                    full_name: Marco Antonio Fernandez
                    phone: "+525587654321"
                    country: MX
                    stateCode: CMX
                    spei_clabe: 12180027944986158
                  payoutMethod: PAYOUT-SPEI
                  currency: MXN
                  amount: 20
                  purpose: payout
                  brand_id: "{{BrandId}}"
                  success_redirect: https://merchant.example/success
                  failure_redirect: https://merchant.example/failure
                  success_callback: https://merchant.example/webhook/success
                  failure_callback: https://merchant.example/webhook/failure
              ThirdParty UPI:
                value:
                  client:
                    email: yogesh@gmail.com
                    full_name: Test Person-uk
                    phone: 766225230591
                    country: IN
                  beneficiaryDetail:
                    upi: alpha@bravo
                  payoutMethod: PAYOUT-THIRDPARTY-UPI
                  currency: INR
                  amount: 10
                  purpose: test payout
                  success_callback: https://success.com
                  failure_callback: https://failure.com
              Network tokenisation:
                value:
                  client:
                    email: recipient@example.com
                    phone: +44 9876543210
                    city: London
                    country: GB
                    street_address: 10 New Burlington Street
                    zip_code: W1S 3BE
                  currency: GBP
                  amount: 100
                  payoutMethod: PAYOUT-CARDS
                  extraParam:
                    token_reference: token_7178bb7208614544a285656da38ae5ac
                  purpose: Testing cards payout
                  success_redirect: https://yoursite.com/success
                  pending_redirect: https://yoursite.com/pending
                  failure_redirect: https://yoursite.com/failure
              UPI Solution:
                value:
                  client:
                    email: customer141@gmail.com
                    phone: +91 9634088651
                    full_name: Rahul Jain
                    street_address: Vaishali Nagar
                    city: Jaipur
                    stateCode: RJ
                    country: IN
                    zip_code: 302018
                  beneficiaryDetail:
                    bankAccountName: Rahul Jain
                    bankAccountNumber: 123456789012
                    ifscCode: HDFC021212
                  payoutMethod: PAYOUT-BANKTRANSFER
                  brand_id: "{{BrandId}}"
                  amount: 100
                  currency: INR
                  purpose: Withdrawal
                  success_redirect: https://merchant.example/success
                  failure_redirect: https://merchant.example/failure
              Virtual Cards Payout:
                value:
                  client:
                    customerId: 691afbc6fd96d34a8113a34d
                    email: rahul+26@paysecure.net
                    phone: +91 797639082
                    country: IN
                    full_name: Rahul Agarwal
                  payoutMethod: PAYOUT-VIRTUAL-CARDS
                  amount: 10
                  currency: USD
                  purpose: payout to test
                  extraParam:
                    productType: WELFARE
                  success_callback: https://success.com
                  failure_callback: https://failure.com
      responses:
        "202":
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  payoutId: {}
                  status:
                    $ref: "#/components/schemas/TransactionStatus"
                  payoutMethod: {}
                  amount: {}
                  currency: {}
                  checkout_url: {}
                  merchantRef: {}
                  errorMsg: {}
                  client:
                    type: object
                    additionalProperties: true
                    properties:
                      email: {}
                      full_name: {}
                      country: {}
                      city: {}
                      stateCode: {}
                      phone: {}
                      documentId: {}
                      customerId: {}
                      zip_code: {}
                      documentType: {}
                      spei_clabe: {}
                  beneficiaryDetail:
                    type: object
                    additionalProperties: true
                    properties:
                      bankAccountName: {}
                      bankName: {}
                      bankAccountNumber: {}
                      upi: {}
                      transferType: {}
                      ifscCode: {}
                  status_history:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties:
                        status: {}
                        timestamp: {}
                  created_on: {}
                  updated_on: {}
                  amountUnit: {}
                  purpose: {}
                  extraParam:
                    type: object
                    additionalProperties: true
                    properties:
                      cardNumber: {}
                      cardHolderName: {}
                      expiryYear: {}
                      expiryMonth: {}
                      token_reference: {}
                      productType: {}
                  payOutDetails:
                    type: object
                    additionalProperties: true
                    properties:
                      instruction: {}
                      name: {}
                      emailAddress: {}
                      secretQA: {}
                      secretAnswer: {}
                  paymentOn: {}
                  transFees: {}
                  merchantName: {}
              examples:
                ACH Payout:
                  value:
                    payoutId: 6a158153a62bcd7745c51746
                    status: created
                    payoutMethod: PAYOUT-ACH
                    amount: 5
                    currency: USD
                    checkout_url: https://checkout.paysecure.net/payout/4c1069817cf28b9f6f82bdb2860ca12f/
                    merchantRef: 6a158153a62bcd7745c51746
                    errorMsg: ""
                    client:
                      email: user@example.com
                      full_name: Test User
                      country: US
                      city: New York
                      stateCode: NY
                    beneficiaryDetail:
                      bankAccountName: Rahul Agarwal
                      bankName: JPMorgan Chase
                      bankAccountNumber: "1234567890120000"
                    status_history:
                      - status: created
                        timestamp: 12345678
                    created_on: 12345678
                    updated_on: 12345678
                Bank Transfers:
                  value:
                    payoutId: 65ffadb4c1c83822903a9205
                    status: paid
                    payoutMethod: PAYOUT-BANKTRANSFER
                    amountUnit: MAJOR
                    amount: 10
                    currency: EUR
                    purpose: Testing payout
                    merchantRef: 65ffadb4c1c83822903a9205
                    beneficiaryDetail:
                      bankAccountName: Rahul Agarwal
                      bankAccountNumber: "645101511808"
                      bankName: ICICI Bank
                    status_history:
                      - status: created
                        timestamp: 1711254964
                      - status: paid
                        timestamp: 1711254972
                Cards (S2S):
                  value:
                    payoutId: 6977137755e0628e3600c562
                    status: paid
                    payoutMethod: PAYOUT-CARDS
                    amountUnit: MAJOR
                    amount: 100
                    currency: GBP
                    purpose: Player withdrawal
                    merchantRef: PO-88121
                    client:
                      email: recipient@example.com
                      full_name: Rahul Jain
                      country: GB
                      city: London
                      phone: +44 9876543210
                    extraParam:
                      cardNumber: "5431240006334004"
                      cardHolderName: Rahul Agarwal
                      expiryYear: "2030"
                      expiryMonth: "11"
                    status_history:
                      - status: created
                        timestamp: 1769411447
                      - status: payout_in_process
                        timestamp: 1769411447
                      - status: paid
                        timestamp: 1769411447
                FawryPay:
                  value:
                    payoutId: 6687d86dde5d5c0feecf7621
                    status: PAYOUT_IN_PROCESS
                    payoutMethod: PAYOUT-FAWRYPAY
                    amountUnit: MAJOR
                    amount: 20
                    currency: EGP
                    purpose: test payout
                    merchantRef: 6687d86dde5d5c0feecf7621
                    client:
                      email: recipient@example.eg
                      phone: "9586445444"
                      full_name: Pay Secure
                      country: EG
                      documentId: "29206260104051"
                    payOutDetails:
                      instruction: Please use transaction reference 20514294 with the BTC 77361 at any Fawry store to get cashout within 72 hrs
                    paymentOn: 0
                    status_history:
                      - status: created
                        timestamp: 1720178797
                      - status: payout_in_process
                        timestamp: 1720178799
                Interac e-Transfer:
                  value:
                    payoutId: 69cd1236e36738557e988399
                    status: paid
                    payoutMethod: PAYOUT-INTERAC-ETRANSFER
                    amountUnit: MAJOR
                    amount: 18
                    currency: CAD
                    purpose: Withdrawal
                    merchantRef: 69cd1236e36738557e988399
                    payOutDetails:
                      name: INTERAC E-TRANSFER
                      emailAddress: recipient@example.ca
                      secretQA: q69cd1236
                      secretAnswer: a69cd1236
                    transFees: "0.30"
                    status_history:
                      - status: created
                        timestamp: 1775047222
                      - status: paid
                        timestamp: 1775047240
                Interac Express:
                  value:
                    payoutId: 67efc0586720dd3a164fe8b3
                    status: paid
                    payoutMethod: PAYOUT-INTERAC-EXPRESS
                    amountUnit: MAJOR
                    amount: 10
                    currency: CAD
                    purpose: Transfer Reversed
                    merchantRef: 67efc0586720dd3a164fe8b3
                    paymentOn: 1743765610
                    status_history:
                      - status: created
                        timestamp: 1743765592
                      - status: paid
                        timestamp: 1743765610
                Interac Request Money:
                  value:
                    payoutId: 670cb200fcc7f4706acb6759
                    status: PAYOUT_IN_PROCESS
                    payoutMethod: PAYOUT-INTERAC-REQUEST-MONEY
                    amountUnit: MAJOR
                    amount: 18
                    currency: CAD
                    errorMsg: ""
                    purpose: Transfer Reversed
                    merchantRef: 670cb200fcc7f4706acb6759
                    paymentOn: 0
                    payOutDetails:
                      emailAddress: recipient@example.ca
                      secretQA: q670200747066759362
                      secretAnswer: a670200747066759362
                    status_history:
                      - status: created
                        timestamp: 1728885248
                      - status: payout_in_process
                        timestamp: 1728885253
                MobileMoney:
                  value:
                    payoutId: 69ec70c5b7b9052cc4823367
                    status: paid
                    payoutMethod: PAYOUT-MOBILEMONEY
                    amountUnit: MAJOR
                    amount: 100
                    currency: CDF
                    purpose: Withdrawal
                    merchantRef: 69ec70c5b7b9052cc4823367
                    client:
                      customerId: NA
                      full_name: Test Recipient
                      email: recipient@example.cd
                      phone: "+243999999999"
                      country: CD
                      city: Kinshasa
                      stateCode: KN
                      zip_code: "00000"
                    status_history:
                      - status: created
                        timestamp: 1777103045
                      - status: paid
                        timestamp: 1777103045
                    created_on: 1777103045
                    checkout_url: https://api.paysecure.net/payout/{token}/
                Neosurf:
                  value:
                    payoutId: 683d6fee57aff00ab5faf3c6
                    status: PAID
                    payoutMethod: PAYOUT-NEOSURF
                    amountUnit: MAJOR
                    amount: 20
                    currency: AUD
                    purpose: Withdrawal
                    merchantRef: 683d6fee57aff00ab5faf3c6
                    paymentOn: 1748856816
                    status_history:
                      - status: created
                        timestamp: 1748856814
                      - status: paid
                        timestamp: 1748856816
                PayID:
                  value:
                    payoutId: 683d6fee57aff00ab5faf3c6
                    status: PAID
                    payoutMethod: PAYOUT-PAYID
                    amountUnit: MAJOR
                    amount: 50
                    currency: AUD
                    purpose: testing payout
                    merchantRef: 683d6fee57aff00ab5faf3c6
                    client:
                      customerId: NA
                      email: recipient@example.au
                      full_name: Test Person
                      phone: "+61755564318"
                      country: AU
                    paymentOn: 1748856816
                    status_history:
                      - status: created
                        timestamp: 1748856814
                      - status: paid
                        timestamp: 1748856816
                PIX:
                  value:
                    payoutId: 65f93895c96bae142f7b1765
                    status: paid
                    payoutMethod: PAYOUT-PIX
                    amountUnit: MAJOR
                    amount: 10
                    currency: BRL
                    purpose: payout to test
                    errorMsg: ""
                    merchantName: test
                    client:
                      email: test@gmail.com
                      full_name: Test Test
                      country: BR
                      documentType: evp
                      documentId: 97c1c590-554b-4449-a0f1-8da9f9756937
                    status_history:
                      - status: created
                        timestamp: 1710831765
                      - status: paid
                        timestamp: 1710831768
                SPEI:
                  value:
                    payoutId: 683d778dc74d23074a56ea94
                    status: paid
                    payoutMethod: PAYOUT-SPEI
                    amountUnit: MAJOR
                    amount: 20
                    currency: MXN
                    purpose: payout
                    errorMsg: ""
                    merchantRef: 683d778dc74d23074a56ea94
                    client:
                      customerId: NA
                      full_name: Marco Antonio Fernandez
                      country: MX
                      spei_clabe: "012180027944986158"
                    paymentOn: 0
                    status_history:
                      - status: created
                        timestamp: 1748858765
                      - status: paid
                        timestamp: 1748858765
                ThirdParty UPI:
                  value:
                    payoutId: 66838ae86d41e41c10a8656d
                    status: payout_in_process
                    payoutMethod: PAYOUT-THIRDPARTY-UPI
                    amountUnit: MAJOR
                    amount: 10
                    currency: INR
                    purpose: test payout
                    merchantRef: 66838ae86d41e41c10a8656d
                    beneficiaryDetail:
                      upi: alpha@bravo
                      transferType: UPI
                Network tokenisation:
                  value:
                    payoutId: 6977137755e0628e3600c562
                    status: PAID
                    payoutMethod: PAYOUT-CARDS
                    amountUnit: MAJOR
                    amount: 100
                    currency: GBP
                    purpose: Testing cards payout
                    merchantRef: 6977137755e0628e3600c562
                    extraParam:
                      token_reference: token_7178bb7208614544a285656da38ae5ac
                    checkout_url: https://api.paysecure.net/payout/{token}/
                    status_history:
                      - status: created
                        timestamp: 1769411447
                      - status: payout_in_process
                        timestamp: 1769411447
                      - status: paid
                        timestamp: 1769411447
                UPI Solution:
                  value:
                    payoutId: 6977137755e0628e3600c562
                    status: paid
                    payoutMethod: PAYOUT-BANKTRANSFER
                    amountUnit: MAJOR
                    amount: 100
                    currency: INR
                    errorMsg: ""
                    purpose: Withdrawal
                    merchantRef: 6977137755e0628e3600c562
                    client:
                      customerId: NA
                      email: customer141@gmail.com
                      full_name: Rahul Jain
                      country: IN
                      stateCode: RJ
                    beneficiaryDetail:
                      bankAccountName: Rahul Jain
                      bankAccountNumber: "123456789012"
                      ifscCode: HDFC021212
                    checkout_url: https://api.paysecure.net/payout/092e59f94279a3742fa3715fe9a2112a/
                    status_history:
                      - status: created
                        timestamp: 1769411447
                      - status: paid
                        timestamp: 1769411447
                Virtual Cards Payout:
                  value:
                    payoutId: 685faaf0b93cc30dd78957c6
                    client:
                      customerId: 691afbc6fd96d34a8113a34d
                      email: rahul+26@paysecure.net
                      phone: +91 797639082
                      full_name: Rahul Agarwal
                      country: IN
                    payoutMethod: PAYOUT-VIRTUAL-CARDS
                    amountUnit: MAJOR
                    amount: 10
                    currency: USD
                    errorMsg: ""
                    purpose: payout to test
                    merchantRef: 685faaf0b93cc30dd78957c6
                    status: PAID
                    created_on: 1751100145
                    updated_on: 1751100145
                    paymentOn: 1751100145
                    status_history:
                      - status: created
                        timestamp: 1751100145
                      - status: paid
                        timestamp: 1751100145
                    extraParam:
                      productType: WELFARE
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                ACH Payout:
                  value:
                    message: something went wrong
                    code: exception
                    status: error
                Bank Transfers:
                  value:
                    message: Currency Account has insufficient balance.
                    code: transaction_error
                Cards (S2S):
                  value:
                    message: Insufficient Balance
                    code: transaction_error
                FawryPay:
                  value:
                    message: Error Message
                    code: error_code
                Interac e-Transfer:
                  value:
                    message: Insufficient Balance [5.23]
                    code: transaction_error
                Interac Express:
                  value:
                    message: Insufficient Balance
                    code: transaction_error
                Interac Request Money:
                  value:
                    message: Error Message
                    code: error_code
                MobileMoney:
                  value:
                    message: Insufficient Balance
                    code: transaction_error
                Neosurf:
                  value:
                    message: Insufficient Balance
                    code: transaction_error
                PayID:
                  value:
                    message: Invalid transaction amount
                    code: transaction_error
                PIX:
                  value:
                    status: ERROR
                    errorMsg: errors.wallet.transfer_balance_insufficient
                    currency: BRL
                SPEI:
                  value:
                    message: This customer can not be processed !
                    code: transaction_error
                ThirdParty UPI:
                  value:
                    message: Insufficient Balance
                    code: transaction_error
                Network tokenisation:
                  value:
                    message: Insufficient Balance
                    code: transaction_error
                UPI Solution:
                  value:
                    message: This customer can not be processed !
                    code: transaction_error
                Virtual Cards Payout:
                  value:
                    payoutId: 684fe6980696787075207f8d
                    client:
                      customerId: 691afbc6fd96d34a8113a34d
                      email: rahul+26@paysecure.net
                      phone: +91 797639082
                      full_name: Rahul Agarwal
                      country: IN
                    payoutMethod: PAYOUT-VIRTUAL-CARDS
                    amountUnit: MAJOR
                    amount: 100
                    currency: USD
                    errorMsg: Deep link was not able to create
                    status: ERROR
                    paymentOn: 0
  /payout/{payoutId}/:
    get:
      tags:
        - ACH Payout
      summary: GET /payout/{payoutId}/
      operationId: getPayoutPayoutId
      parameters:
        - name: payoutId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutResponse"
              examples:
                ACH Payout:
                  value:
                    payoutId: 6a158153a62bcd7745c51746
                    status: paid
                    payoutMethod: PAYOUT-ACH
                    amount: 5
                    currency: USD
                    checkout_url: https://checkout.paysecure.net/payout/4c1069817cf28b9f6f82bdb2860ca12f/
                    merchantRef: 6a158153a62bcd7745c51746
                    errorMsg: ""
                    client:
                      email: user@example.com
                      full_name: Test User
                      country: US
                      city: New York
                      stateCode: NY
                    beneficiaryDetail:
                      bankAccountName: Rahul Agarwal
                      bankName: JPMorgan Chase
                      bankAccountNumber: "1234567890120000"
                    status_history:
                      - status: created
                        timestamp: 12345678
                      - status: payout_in_process
                        timestamp: 12345690
                      - status: paid
                        timestamp: 12345720
                    created_on: 12345678
                    updated_on: 12345720
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                ACH Payout:
                  value:
                    message: PayoutId Not found.
                    code: transaction_error
  /purchases/:
    post:
      tags:
        - Bank & local APMs
      summary: POST /purchases/
      operationId: postPurchases
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PurchaseRequest"
            examples:
              Bank & local APMs:
                value:
                  client:
                    email: buyer@example.com.br
                    tax_number: 390.533.447-05
                  purchase:
                    currency: BRL
                    products:
                      - name: Deposit
                        price: 100
                  brand_id: brd_9f2c81a5
                  paymentMethod: PIX
              Apple Pay:
                value:
                  client:
                    email: buyer@example.com
                  purchase:
                    currency: EUR
                    products:
                      - name: e-commerce
                        price: 10
                  paymentMethod: APPLEPAY
                  brand_id: "{{BrandId}}"
                  extraParam:
                    applepay_param:
                      apple_merchant_id: merchant.com.yourcompany.store
                      applepay_encrypted_payload: '{"version":"EC_v1","data":"kdXO7…","signature":"MIAGCSqGSIb3…","header":{"ephemeralPublicKey":"MFkwEwYH…","publicKeyHash":"dGhpcyt…","transactionId":"abc123…"}}'
              Bank Transfers:
                value:
                  client:
                    email: test@gmail.com
                    full_name: Test test
                    street_address: 10 New Burlington Street Apt. 214
                    city: Zurich
                    zip_code: W1S 3BE
                    country: DE
                    stateCode: QLD
                    phone: "+447755564318"
                  purchase:
                    currency: JPY
                    products:
                      - name: product name
                        price: 5000
                  paymentMethod: BANKTRANSFER
                  brand_id: "{{BrandId}}"
                  merchantRef: your-order-id
                  success_redirect: https://your.success.redirect.com
                  failure_redirect: https://your.failure.redirect.com
              Crypto & on-ramp:
                value:
                  client:
                    email: buyer@example.com
                  purchase:
                    currency: USD
                    products:
                      - name: Deposit
                        price: 100
                  brand_id: brd_9f2c81a5
                  paymentMethod: CRYPTO-BRIDGE
                  extraParam:
                    toAddress:
                      - symbol: ETH
                        networkName: ETHEREUM
                        address: "0xc4db7bBB898B98D15be823454d1dff6C308BC9A4"
              CryptoBridge:
                value:
                  client:
                    email: buyer@example.com
                    full_name: Test Buyer
                    street_address: 1 Market St
                    city: New York
                    stateCode: NY
                    country: US
                    zip_code: 234567
                    phone: 9999999999
                  purchase:
                    currency: USD
                    products:
                      - name: product name
                        price: 5.86
                  paymentMethod: CRYPTO-BRIDGE
                  brand_id: "{{BrandId}}"
                  success_redirect: https://merchant.example/success
                  pending_redirect: https://merchant.example/pending
                  failure_redirect: https://merchant.example/failure
                  success_callback: https://merchant.example/callback/success
                  failure_callback: https://merchant.example/callback/failure
                  extraParam:
                    clientFee: 0.1
                    toAddress:
                      - symbol: ETH
                        networkName: ETHEREUM
                        address: "0xc4db7bBB898B98D15be823454d1dff6C308BC9A4"
                      - symbol: USDC
                        networkName: POLYGON
                        address: 0xc4cs7bBB898B89D15be823445d1dff6C380BC9D3
              FawryPay:
                value:
                  client:
                    email: buyer@example.eg
                    full_name: Test Buyer
                    street_address: 10 Tahrir Square
                    city: Cairo
                    zip_code: 11511
                    country: EG
                    stateCode: C
                    phone: "+201001234567"
                  purchase:
                    currency: EGP
                    products:
                      - name: Account deposit
                        price: 10
                  paymentMethod: FAWRYPAY
                  brand_id: "{{BrandId}}"
                  merchantRef: DEP-91204
                  success_redirect: https://merchant.example/success
                  failure_redirect: https://merchant.example/failure
              Google Pay:
                value:
                  client:
                    email: buyer@example.com
                  purchase:
                    currency: EUR
                    products:
                      - name: e-commerce
                        price: 10
                  paymentMethod: GOOGLEPAY
                  brand_id: "{{BrandId}}"
                  extraParam:
                    googlepay_param:
                      google_merchant_id: merchant:1234567890
                      googlepay_encrypted_payload: '{"signature":"MEUCIQ…","protocolVersion":"ECv2","signedMessage":"{…}"}'
              Interac e-Transfer:
                value:
                  client:
                    email: buyer@example.ca
                    full_name: Test Buyer
                    street_address: 1 Front St W
                    city: Toronto
                    zip_code: M5J 1E5
                    country: CA
                    stateCode: ON
                    phone: "+14161234567"
                  purchase:
                    currency: CAD
                    products:
                      - name: Account deposit
                        price: 50
                  paymentMethod: INTERAC-ETRANSFER
                  brand_id: "{{BrandId}}"
                  merchantRef: DEP-88121
                  success_redirect: https://merchant.example/success
                  failure_redirect: https://merchant.example/failure
              Interac Express:
                value:
                  client:
                    email: buyer@example.ca
                    full_name: Test Buyer
                    street_address: 1 Front St W
                    city: Toronto
                    zip_code: M5J 1E5
                    country: CA
                    stateCode: ON
                    phone: "+14161234567"
                  purchase:
                    currency: CAD
                    products:
                      - name: Account deposit
                        price: 100
                    expireInMin: 1440
                  paymentMethod: INTERAC-EXPRESS
                  brand_id: "{{BrandId}}"
                  merchantRef: DEP-88121
                  success_redirect: https://merchant.example/success
                  pending_redirect: https://merchant.example/pending
                  failure_redirect: https://merchant.example/failure
              Interac Request Money:
                value:
                  client:
                    email: buyer@example.ca
                    full_name: Test Buyer
                    street_address: 1 Front St W
                    city: Toronto
                    zip_code: M5J 1E5
                    country: CA
                    stateCode: ON
                    phone: "+14161234567"
                  purchase:
                    currency: CAD
                    products:
                      - name: Account deposit
                        price: 50
                  paymentMethod: INTERAC-REQUEST-MONEY
                  brand_id: "{{BrandId}}"
                  merchantRef: DEP-88121
                  success_redirect: https://merchant.example/success
                  failure_redirect: https://merchant.example/failure
              MobileMoney:
                value:
                  client:
                    email: buyer@example.cd
                    full_name: Test Buyer
                    street_address: 10 New Burlington Street
                    city: Kinshasa
                    zip_code: 0
                    country: CD
                    stateCode: KN
                    phone: "+243999999999"
                  purchase:
                    currency: CDF
                    products:
                      - name: Account deposit
                        price: 1000
                  paymentMethod: MOBILEMONEY
                  brand_id: "{{BrandId}}"
                  merchantRef: DEP-88121
                  success_redirect: https://merchant.example/success
                  pending_redirect: https://merchant.example/pending
                  failure_redirect: https://merchant.example/failure
              Neosurf:
                value:
                  client:
                    email: example22@paysecure.net
                    country: IN
                    city: Mumbai
                    stateCode: MH
                    street_address: 1 Test Street
                    zip_code: 400001
                    phone: "+919999999999"
                  purchase:
                    currency: AUD
                    products:
                      - name: Voucher top-up
                        price: 20
                  paymentMethod: NEOSURF
                  brand_id: "{{BrandId}}"
                  success_redirect: https://merchant.example/success
                  failure_redirect: https://merchant.example/failure
                  pending_redirect: https://merchant.example/pending
                  merchantRef: DEP-88121
              OnRamp:
                value:
                  client:
                    email: john.doe@paysecure.net
                    full_name: John Doe
                    street_address: 221B Baker Street
                    city: London
                    zip_code: NW1 6XE
                    country: GB
                    phone: 9999999999
                  purchase:
                    currency: USD
                    products:
                      - name: QBit Payment
                        price: 10
                  paymentMethod: QBPAYFTOPUP
                  brand_id: "{{BrandId}}"
                  merchantRef: QB-88121
                  success_redirect: https://merchant.example/success
                  failure_redirect: https://merchant.example/failure
              Open Banking:
                value:
                  client:
                    email: alpha7.bravo@bravapay.com
                    full_name: Shiba Sharma
                    country: GB
                    city: London
                    stateCode: LND
                    street_address: 10 New Burlington Street, Apt. 214
                    zip_code: SW1A0AA
                    phone: "+447755564318"
                  purchase:
                    currency: GBP
                    products:
                      - name: e-commerce
                        price: 10
                    total: 10
                  paymentMethod: OPEN-BANKING
                  brand_id: "{{BrandId}}"
                  merchantRef: OB-88121
                  success_redirect: https://your.success.redirect.com
                  pending_redirect: https://your.pending.redirect.com
                  failure_redirect: https://your.failure.redirect.com
              Pay with Crypto:
                value:
                  client:
                    email: buyer@example.com
                    full_name: Rahul Agarwal
                    phone: "+919634458881"
                    street_address: 909 Central Avenue
                    city: Jaipur
                    stateCode: RJ
                    zip_code: 302001
                    country: IN
                    date_of_birth: 1991-07-10
                  purchase:
                    currency: EUR
                    products:
                      - name: e-commerce
                        price: 10
                  paymentMethod: PAY-WITH-CRYPTO
                  brand_id: "{{BrandId}}"
                  success_redirect: https://merchant.example/success
                  pending_redirect: https://merchant.example/pending
                  failure_redirect: https://merchant.example/failure
                  success_callback: https://merchant.example/callback/success
                  failure_callback: https://merchant.example/callback/failure
              PayID:
                value:
                  client:
                    email: buyer@example.au
                    full_name: Test test
                    street_address: 10 New Burlington Street Apt. 214
                    city: Sydney
                    zip_code: 2000
                    country: AU
                    stateCode: NSW
                    phone: "+61755564318"
                  purchase:
                    currency: AUD
                    products:
                      - name: Account deposit
                        price: 100
                  paymentMethod: PAYID
                  brand_id: "{{BrandId}}"
                  success_redirect: https://merchant.example/success
                  pending_redirect: https://merchant.example/pending
                  failure_redirect: https://merchant.example/failure
                  success_callback: https://merchant.example/callback/success
                  failure_callback: https://merchant.example/callback/failure
              Paymint:
                value:
                  client:
                    email: buyer@example.ca
                    full_name: Test Buyer
                    street_address: 1 Front St W
                    city: Toronto
                    zip_code: M5J 1E5
                    country: CA
                    stateCode: ON
                    phone: "+14161234567"
                  purchase:
                    currency: CAD
                    products:
                      - name: Account deposit
                        price: 100
                    expireInMin: 80
                  extraParam:
                    IsCryptoPurchase: yes
                  paymentMethod: ""
                  brand_id: "{{BrandId}}"
                  merchantRef: DEP-88121
                  success_redirect: https://merchant.example/success
                  pending_redirect: https://merchant.example/pending
                  failure_redirect: https://merchant.example/failure
                  success_callback: https://merchant.example/webhook
                  failure_callback: https://merchant.example/webhook
              PayPal Wallet:
                value:
                  client:
                    email: buyer@example.com
                    country: US
                    city: New York
                    stateCode: NY
                    street_address: 20 W 34th St
                    zip_code: 10001
                    phone: +1 202 555 0185
                  purchase:
                    products:
                      - name: Account deposit
                        price: 10
                    currency: USD
                  paymentMethod: PAYPAL
                  brand_id: "{{BrandId}}"
                  merchantRef: DEP-64102
                  success_redirect: https://merchant.example/success
                  pending_redirect: https://merchant.example/pending
                  failure_redirect: https://merchant.example/failure
                  success_callback: https://merchant.example/webhook/success
                  failure_callback: https://merchant.example/webhook/failure
              PIX:
                value:
                  client:
                    email: test@gmail.com
                    full_name: Test Test
                    tax_number: 39933551809
                    country: BR
                    city: Brasilia
                    stateCode: SP
                    street_address: Praca da Biblia 1308
                    zip_code: 57312-140
                    phone: "+558262362732"
                  purchase:
                    currency: BRL
                    products:
                      - name: Account deposit
                        price: 10
                  paymentMethod: PIX
                  merchantRef: test12
                  brand_id: "{{BrandId}}"
                  success_redirect: https://merchant.example/success
                  pending_redirect: https://merchant.example/pending
                  failure_redirect: https://merchant.example/failure
              Pre-authorization:
                value:
                  client:
                    email: buyer@example.com
                    country: IN
                    city: Jaipur
                    stateCode: CA
                    street_address: test test
                    zip_code: 234567
                    phone: +91 9999999999
                  purchase:
                    currency: EUR
                    products:
                      - name: "Order #4411"
                        price: 150
                  brand_id: "{{BrandId}}"
                  skip_capture: true
                  merchantRef: d9db7ec0-f94c-4a9d-8883
                  success_redirect: https://your.success.redirect.com
                  failure_redirect: https://your.failure.redirect.com
              Recurring & mandates:
                value:
                  payment_type: recurring
                  mandate_id: 685cc8515e3af922dd0e8c31
                  client:
                    email: buyer@example.com
                    street_address: 120, jaipur
                    country: GB
                    city: London
                    stateCode: LO
                    zip_code: 234567
                  purchase:
                    currency: EUR
                    products:
                      - name: Monthly plan
                        price: 9.99
                  brand_id: "{{BrandId}}"
                  success_redirect: https://merchant.com/success
                  failure_redirect: https://merchant.com/failure
                  merchantRef: SUB-2026-07-BILL
              Purchases:
                value:
                  client:
                    email: test-buyer@example.com
                    full_name: Rahul Agarwal
                    street_address: Praça João da Silva, 909
                    city: Jaipur
                    zip_code: 01000-000
                    country: IN
                    stateCode: SP
                  purchase:
                    currency: EUR
                    products:
                      - name: Deposit
                        price: 20
                  brand_id: brd_9f2c81a5
                  merchantRef: ORDER-10045
                  success_redirect: https://yoursite.com/ok
                  failure_redirect: https://yoursite.com/fail
              Skrill:
                value:
                  client:
                    full_name: Rahul Agarwal
                    email: rahul@paysecure.net
                    country: MX
                    city: Jaipur
                    stateCode: RJ
                    street_address: 30 Main Street
                    zip_code: 302028
                    date_of_birth: 1996-05-18
                    phone: 357 713456789
                  purchase:
                    currency: EUR
                    products:
                      - name: New Ebook Gaming cards
                        price: 1
                  brand_id: "{{BrandId}}"
                  send_receipt: false
                  skip_capture: false
                  success_redirect: https://example.com/success
                  failure_redirect: https://example.com/failure
                  success_callback: https://example.com/webhook/success
                  failure_callback: https://example.com/webhook/failure
                  paymentMethod: SKRILL
              SPEI:
                value:
                  client:
                    email: buyer@example.mx
                    full_name: Test Buyer
                    street_address: Av. Reforma 100
                    city: Ciudad de Mexico
                    zip_code: 6600
                    country: MX
                    stateCode: CMX
                    phone: "+525512345678"
                  purchase:
                    currency: MXN
                    products:
                      - name: Account deposit
                        price: 100
                  paymentMethod: SPEI
                  brand_id: "{{BrandId}}"
                  success_redirect: https://merchant.example/success
                  pending_redirect: https://merchant.example/pending
                  failure_redirect: https://merchant.example/failure
                  success_callback: https://merchant.example/webhook/success
                  failure_callback: https://merchant.example/webhook/failure
              ThirdParty UPI:
                value:
                  client:
                    email: ziangani@outlook.com
                    full_name: Adarsh Saini
                    street_address: Mansarovar, Jaipur
                    city: Jaipur
                    zip_code: 101100
                    country: IN
                    stateCode: NA
                    phone: 964926646
                  purchase:
                    currency: INR
                    products:
                      - name: test
                        price: 1
                  paymentMethod: THIRDPARTY-UPI
                  brand_id: "{{BrandId}}"
                  success_redirect: https://merchant.example/success
                  failure_redirect: https://merchant.example/failure
                  success_callback: https://merchant.example/callback
                  failure_callback: https://merchant.example/callback
              Network tokenisation:
                value:
                  client:
                    email: customer@example.com
                    city: Jaipur
                    country: IN
                    stateCode: RJ
                    street_address: 123 Main Street
                    zip_code: 302001
                    phone: 9999999999
                  purchase:
                    currency: USD
                    products:
                      - name: Product Name
                        price: 10
                  brand_id: "{{BrandId}}"
                  success_redirect: https://yoursite.com/success
                  failure_redirect: https://yoursite.com/failure
                  pending_redirect: https://yoursite.com/pending
              UPI Solution:
                value:
                  client:
                    email: test@gmail.com
                    full_name: Test Buyer
                    street_address: Vaishali Nagar
                    city: Jaipur
                    zip_code: 302022
                    country: IN
                    stateCode: RJ
                    phone: +91 9634988765
                  purchase:
                    currency: INR
                    products:
                      - name: Account deposit
                        price: 100
                  paymentMethod: UPI-QR
                  brand_id: "{{BrandId}}"
                  merchantRef: DEP-88121
                  success_redirect: https://merchant.example/success
                  pending_redirect: https://merchant.example/pending
                  failure_redirect: https://merchant.example/failure
              Virtual Accounts (South Korea):
                value:
                  client:
                    email: buyer@example.kr
                    full_name: Min-jun Kim
                    street_address: 29 Sejong-daero, Jung-gu
                    city: Seoul
                    zip_code: 4524
                    country: KR
                    stateCode: 11
                    phone: "+821012345678"
                    date_of_birth: 1990-07-10
                  purchase:
                    currency: KRW
                    products:
                      - name: Account deposit
                        price: 100
                  paymentMethod: VIRTUAL-ACCOUNT
                  brand_id: "{{BrandId}}"
                  success_redirect: https://merchant.example/success
                  pending_redirect: https://merchant.example/pending
                  failure_redirect: https://merchant.example/failure
      responses:
        "202":
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  purchaseId: {}
                  status:
                    $ref: "#/components/schemas/TransactionStatus"
                  paymentMethod: {}
                  checkout_url: {}
                  pix_payload:
                    type: object
                    additionalProperties: true
                    properties:
                      qr_code: {}
                      payload: {}
                      expiration_date: {}
                  amountUnit: {}
                  purchase:
                    type: object
                    additionalProperties: true
                    properties:
                      currency: {}
                      total: {}
                      products:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                          properties:
                            name: {}
                            quantity: {}
                            price: {}
                            discount: {}
                            tax_percent: {}
                      expireInMin: {}
                      requestAmount: {}
                      total_formatted: {}
                      language: {}
                  status_history:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties:
                        status: {}
                        timestamp: {}
                  payment:
                    type: object
                    additionalProperties: true
                    properties:
                      method: {}
                      token_type: {}
                      payment_type: {}
                      amount: {}
                      currency: {}
                      net_amount: {}
                      fee_amount: {}
                      paid_on: {}
                  purchaseIdShortCode: {}
                  merchantRef: {}
                  merchantName: {}
                  payInBankDetails:
                    type: object
                    additionalProperties: true
                    properties:
                      accountName: {}
                      accountNumber: {}
                      bankName: {}
                      swiftCode: {}
                      branchName: {}
                      accountType: {}
                      payment_routing_parameters:
                        type: object
                        additionalProperties: true
                        properties:
                          BANK_CODE: {}
                          BRANCH_CODE: {}
                  extraParam:
                    type: object
                    additionalProperties: true
                    properties:
                      toAddress:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                          properties:
                            symbol: {}
                            network: {}
                            address: {}
                      clientFee: {}
                      reference: {}
                  errorMsg: {}
                  client:
                    type: object
                    additionalProperties: true
                    properties:
                      customerId: {}
                      email: {}
                      full_name: {}
                      country: {}
                      city: {}
                      zip_code: {}
                      stateCode: {}
                      phone: {}
                      street_address: {}
                  instruction: {}
                  payInDetails:
                    type: object
                    additionalProperties: true
                    properties:
                      name: {}
                      emailAddress: {}
                      secretQA: {}
                      secretAnswer: {}
                      reference_number: {}
                      clabe: {}
                      beneficiary: {}
                      amount: {}
                      qrCode: {}
                      gpayUri: {}
                      phonepeUri: {}
                      paytmUri: {}
                      generatedLink: {}
                      expiration_date: {}
                  reference_generated: {}
                  errorCode: {}
                  created_on: {}
                  transaction_data:
                    type: object
                    additionalProperties: true
                    properties:
                      attempts:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                          properties:
                            payment_method: {}
                            successful: {}
                            type: {}
                            extra:
                              type: object
                              additionalProperties: true
                              properties:
                                card_brand: {}
                                masked_pan: {}
                                card_type: {}
                  refund_availability: {}
                  refundable_amount: {}
                  redirectType: {}
                  CheckOutURL: {}
                  updated_on: {}
                  is_test: {}
                  success_redirect: {}
                  pending_redirect: {}
                  failure_redirect: {}
                  type: {}
                  brand_id: {}
                  direct_post_url: {}
                  payment_type: {}
                  mandate_id: {}
              examples:
                Bank & local APMs:
                  value:
                    purchaseId: 9d4a59e6a6a6b8ba6f77db47
                    status: payment_in_process
                    paymentMethod: PIX
                    checkout_url: https://api.paysecure.net/payment/9d4a59e6…/
                    pix_payload:
                      qr_code: iVBORw0KGgoAAAANSU…(base64)
                      payload: 00020126580014BR.GOV.BCB.PIX…
                      expiration_date: 2026-07-05 23:59:59
                Apple Pay:
                  value:
                    purchaseId: 7b2e37c4e484f6fe4d55bf25
                    status: payment_in_process
                    paymentMethod: APPLEPAY
                    payment:
                      method: apple_pay
                      token_type: DPAN
                    checkout_url: https://api.paysecure.net/payments/{token}/
                Bank Transfers:
                  value:
                    purchaseId: 66334635a2cf2a7da7b192ab
                    status: payment_in_process
                    paymentMethod: BANKTRANSFER
                    amountUnit: MAJOR
                    purchaseIdShortCode: "4000013"
                    merchantRef: 66334635a2cf2a7da7b192ab
                    merchantName: merchant002
                    purchase:
                      currency: JPY
                      products:
                        - name: product name
                          quantity: 1
                          price: 5000
                      total: 5000
                    payment:
                      payment_type: PURCHASE
                      amount: 5000
                      currency: JPY
                      net_amount: 5000
                      fee_amount: 0
                      paid_on: 1714636341
                    payInBankDetails:
                      accountName: Paysecure Virtual Account
                      accountNumber: "3194368"
                      bankName: MUFG BANK, LTD.
                      swiftCode: BOTKJPJT
                      branchName: Wakatake
                      accountType: CHECKING
                      payment_routing_parameters:
                        BANK_CODE: "0005"
                        BRANCH_CODE: "809"
                    checkout_url: https://staging.paysecure.net/payments/66334635a2cf2a7da7b192ab/
                Crypto & on-ramp:
                  value:
                    purchaseId: 6874ce9402f0f25ed8fc66a7
                    status: payment_in_process
                    paymentMethod: CRYPTO-BRIDGE
                    amountUnit: MAJOR
                    purchase:
                      currency: USD
                      products:
                        - name: Deposit
                          quantity: 1
                          price: 100
                      total: 100
                    extraParam:
                      toAddress:
                        - symbol: ETH
                          network: ETHEREUM
                          address: "0xc4db7bBB898B98D15be823454d1dff6C308BC9A4"
                    checkout_url: https://api.paysecure.net/payment/6874ce94…/
                CryptoBridge:
                  value:
                    purchaseId: 6874ce9402f0f25ed8fc66a7
                    status: payment_in_process
                    paymentMethod: CRYPTO-BRIDGE
                    amountUnit: MAJOR
                    errorMsg: ""
                    merchantRef: 6874ce9402f0f25ed8fc66a7
                    merchantName: test
                    client:
                      customerId: NA
                      email: buyer@example.com
                      full_name: Test Buyer
                      country: US
                      city: New York
                      zip_code: "234567"
                      stateCode: NY
                    purchase:
                      currency: USD
                      products:
                        - name: product name
                          quantity: 1
                          price: 5.86
                      total: 5.86
                    payment:
                      payment_type: PURCHASE
                      amount: 5.86
                      currency: USD
                      net_amount: 5.86
                      fee_amount: 0
                      paid_on: 1752485524
                    extraParam:
                      clientFee: 0.1
                      toAddress:
                        - symbol: ETH
                          network: ETHEREUM
                          address: "0xc4db7bBB898B98D15be823454d1dff6C308BC9A4"
                        - symbol: USDC
                          network: POLYGON
                          address: 0xc4cs7bBB898B89D15be823445d1dff6C380BC9D3
                    checkout_url: https://api.paysecure.net/payments/{token}/
                    status_history:
                      - status: created
                        timestamp: 1752485524
                      - status: pending_execute
                        timestamp: 1752485524
                      - status: payment_in_process
                        timestamp: 1752485524
                FawryPay:
                  value:
                    purchaseId: 667cfb2cf0bd8d672c8fc562
                    status: payment_in_process
                    paymentMethod: FAWRYPAY
                    amountUnit: MAJOR
                    errorMsg: ""
                    merchantRef: DEP-91204
                    merchantName: merchant002
                    instruction: Please use the reference number 9350804722 to pay 10 EGP for this order at Fawrypay store. Complete the payment before 6/29/2024 5:39:59 AM +00:00
                    purchase:
                      currency: EGP
                      products:
                        - name: Account deposit
                          quantity: 1
                          price: 10
                      total: 10
                    payment:
                      payment_type: PURCHASE
                      amount: 10
                      currency: EGP
                      net_amount: 10
                      fee_amount: 0
                    checkout_url: https://api.paysecure.net/payments/{token}/
                Google Pay:
                  value:
                    purchaseId: 7b2e37c4e484f6fe4d55bf25
                    status: payment_in_process
                    paymentMethod: GOOGLEPAY
                    amountUnit: MAJOR
                    checkout_url: https://api.paysecure.net/payments/{token}/
                Interac e-Transfer:
                  value:
                    purchaseId: 67efd0ff97be603f97a3a697
                    status: payment_in_process
                    paymentMethod: INTERAC-ETRANSFER
                    amountUnit: MAJOR
                    errorMsg: ""
                    merchantRef: DEP-88121
                    purchase:
                      currency: CAD
                      products:
                        - name: Account deposit
                          quantity: 1
                          price: 50
                      total: 50
                      expireInMin: "43200"
                    checkout_url: https://api.paysecure.net/payments/{token}/
                    payInDetails:
                      name: INTERAC-ETRANSFER
                      emailAddress: deposit@ieft.ca
                      secretQA: 6789df35bbefe612e3cb4641
                      secretAnswer: PS7466835
                Interac Express:
                  value:
                    purchaseId: 6890aba7faa4173bbbbb76c6
                    status: payment_in_process
                    paymentMethod: INTERAC-EXPRESS
                    amountUnit: MAJOR
                    errorMsg: ""
                    merchantRef: 6890aba7faa4173bbbbb76c6
                    purchase:
                      currency: CAD
                      products:
                        - name: test
                          quantity: 1
                          price: 100
                      total: 100
                      expireInMin: "1440"
                    checkout_url: https://api.paysecure.net/payments/{token}/
                    extraParam:
                      reference: wkdjabf43
                    reference_generated: PS1060
                    payInDetails:
                      name: INTERAC E-TRANSFER
                      emailAddress: fund@ieft.ca
                      reference_number: 8g1lya
                Interac Request Money:
                  value:
                    purchaseId: 670cb0affcc7f4706acb65e0
                    status: PAYMENT_IN_PROCESS
                    paymentMethod: INTERAC-REQUEST-MONEY
                    amountUnit: MAJOR
                    errorMsg: ""
                    merchantRef: 670cb0affcc7f4706acb65e0
                    merchantName: ajay03
                    client:
                      email: buyer@example.ca
                      phone: "+14161234567"
                      full_name: Test Buyer
                      country: CA
                      city: Toronto
                      zip_code: M5J 1E5
                      stateCode: ON
                    purchase:
                      currency: CAD
                      products:
                        - name: Account deposit
                          quantity: 1
                          price: 50
                      total: 50
                      expireInMin: "1440"
                    payment:
                      payment_type: PURCHASE
                      amount: 50
                      currency: CAD
                      net_amount: 50
                      fee_amount: 0
                      paid_on: 1728884911
                    status_history:
                      - status: created
                        timestamp: 1728884911
                      - status: pending_execute
                        timestamp: 1728884911
                      - status: payment_in_process
                        timestamp: 1728884911
                    checkout_url: https://api.paysecure.net/payments/670cb0affcc7f4706acb65e0/
                MobileMoney:
                  value:
                    purchaseId: 69ec68f9f76f0f58bd700058
                    status: created
                    paymentMethod: MOBILEMONEY
                    amountUnit: MAJOR
                    errorMsg: ""
                    errorCode: NA
                    merchantRef: DEP-88121
                    reference_generated: PS1711
                    client:
                      customerId: NA
                      email: buyer@example.cd
                      full_name: Test Buyer
                      country: CD
                      city: Kinshasa
                      stateCode: KN
                      phone: "+243999999999"
                    purchase:
                      currency: CDF
                      products:
                        - name: Account deposit
                          quantity: 1
                          price: 1000
                      total: 1000
                      requestAmount: 1000
                    status_history:
                      - status: created
                        timestamp: 1777101049
                    created_on: 1777101049
                    checkout_url: https://api.paysecure.net/payments/{token}/
                Neosurf:
                  value:
                    purchaseId: 683d6bab12b471481d4f66cf
                    status: PAYMENT_IN_PROCESS
                    paymentMethod: NEOSURF
                    amountUnit: MAJOR
                    errorMsg: ""
                    merchantRef: 683d6bab12b471481d4f66cf
                    merchantName: arunsinghal
                    client:
                      customerId: NA
                      email: example22@paysecure.net
                      phone: "+919999999999"
                      country: IN
                      city: Mumbai
                      stateCode: MH
                      zip_code: "400001"
                    purchase:
                      currency: AUD
                      products:
                        - name: Voucher top-up
                          quantity: 1
                          price: 20
                      total: 20
                    payment:
                      payment_type: PURCHASE
                      amount: 20
                      currency: AUD
                      net_amount: 20
                      fee_amount: 0
                      paid_on: 1748855723
                    transaction_data:
                      attempts:
                        - payment_method: NEOSURF
                          successful: true
                    status_history:
                      - status: created
                        timestamp: 1748855723
                      - status: pending_execute
                        timestamp: 1748855723
                      - status: payment_in_process
                        timestamp: 1748855724
                    refund_availability: NONE
                    refundable_amount: 20
                    checkout_url: https://api.paysecure.net/payments/683d6bab12b471481d4f66cf/
                OnRamp:
                  value:
                    purchaseId: 657a10b3c0daf365fa98cdf9
                    status: created
                    paymentMethod: QBPAYFTOPUP
                    amountUnit: MINOR
                    errorMsg: ""
                    merchantRef: 657a10b3c0daf365fa98cdf9
                    merchantName: merchant002
                    reference_generated: PS185
                    redirectType: POST
                    purchase:
                      currency: USD
                      products:
                        - name: QBit Payment
                          quantity: 1
                          price: 1000
                      total: 10
                      total_formatted: 1
                    CheckOutURL: https://checkout.quickbit.com/{token}
                    created_on: 1702498483
                    updated_on: 1702498483
                    is_test: false
                    status_history:
                      - status: created
                        timestamp: 1702498483
                Open Banking:
                  value:
                    purchaseId: 68c3a4a031ee334ef2c02b2a
                    status: PAYMENT_IN_PROCESS
                    paymentMethod: OPEN-BANKING
                    amountUnit: MAJOR
                    merchantRef: OB-88121
                    client:
                      customerId: NA
                      email: alpha7.bravo@bravapay.com
                      full_name: Shiba Sharma
                      country: GB
                      city: London
                      stateCode: LND
                    purchase:
                      currency: GBP
                      products:
                        - name: e-commerce
                          quantity: 1
                          price: 10
                      total: 10
                    checkout_url: https://gateway.paysecure.net/payments/63cddfa1a4948aba8e8ee9f319e3428f/
                    refund_availability: NONE
                    status_history:
                      - status: created
                        timestamp: 1757652128
                      - status: pending_execute
                        timestamp: 1757652129
                      - status: payment_in_process
                        timestamp: 1757652134
                Pay with Crypto:
                  value:
                    purchaseId: 6a3134156e11dfc6150e68d4
                    status: payment_in_process
                    paymentMethod: PAY-WITH-CRYPTO
                    amountUnit: MAJOR
                    client:
                      email: buyer@example.com
                      full_name: Rahul Agarwal
                      phone: "+919634458881"
                      country: IN
                      city: Jaipur
                      zip_code: "302001"
                      stateCode: RJ
                    purchase:
                      currency: EUR
                      products:
                        - name: e-commerce
                          quantity: 1
                          price: 10
                      total: 10
                    checkout_url: https://api.paysecure.net/payments/42f27a24f82dbedc9ef84e5c0f9613fb/
                    success_redirect: https://merchant.example/success
                    pending_redirect: https://merchant.example/pending
                    failure_redirect: https://merchant.example/failure
                PayID:
                  value:
                    purchaseId: 68441c2a7559cf659fd7e835
                    status: CREATED
                    paymentMethod: PAYID
                    amountUnit: MAJOR
                    errorMsg: ""
                    merchantRef: 68441c2a7559cf659fd7e835
                    merchantName: Merchant002
                    client:
                      customerId: NA
                      email: buyer@example.au
                      full_name: Test test
                      country: AU
                      city: Sydney
                      zip_code: "2000"
                      stateCode: NSW
                    purchase:
                      currency: AUD
                      products:
                        - name: Account deposit
                          quantity: 1
                          price: 100
                          discount: 0
                          tax_percent: "0.00"
                      total: 100
                    status_history:
                      - status: created
                        timestamp: 1749294123
                    checkout_url: https://api.paysecure.net/payments/{token}/
                Paymint:
                  value:
                    purchaseId: 67efd0ff97be603f97a3a697
                    status: payment_in_process
                    amountUnit: MAJOR
                    errorMsg: ""
                    merchantRef: DEP-88121
                    purchase:
                      currency: CAD
                      products:
                        - name: Account deposit
                          quantity: 1
                          price: 100
                      total: 100
                      expireInMin: "80"
                    checkout_url: https://api.paysecure.net/payments/{token}/
                PayPal Wallet:
                  value:
                    purchaseId: 64b032c3c6dccf7d329d9e7e
                    status: CREATED
                    type: purchase
                    paymentMethod: PAYPAL
                    client:
                      email: buyer@example.com
                      country: US
                      city: New York
                      stateCode: NY
                      zip_code: "10001"
                    purchase:
                      currency: USD
                      products:
                        - name: Account deposit
                          quantity: 1
                          price: 10
                          discount: 0
                          tax_percent: "0.00"
                      total: 10
                      language: en
                    status_history:
                      - status: created
                        timestamp: 1689268934
                    merchantRef: DEP-64102
                    brand_id: "{{BrandId}}"
                    checkout_url: https://api.paysecure.net/payments/{token}/
                    direct_post_url: https://api.paysecure.net/api/v1/p/{token}/
                PIX:
                  value:
                    purchaseId: 65f9368cb905381ba207b3c4
                    type: purchase
                    status: payment_in_process
                    paymentMethod: PIX
                    amountUnit: MAJOR
                    errorMsg: ""
                    merchantRef: 65f9368cb905381ba207b3c4
                    merchantName: test
                    purchase:
                      currency: BRL
                      products:
                        - price: 10
                      total: 10
                      language: en
                    status_history:
                      - status: created
                        timestamp: 1764922723
                      - status: pending_execute
                        timestamp: 1764922723
                      - status: payment_in_process
                        timestamp: 1764922727
                    pix_payload:
                      payload: 00020101021226800014br.gov.bcb.pix2558pix.asaas.com/qr/cobv/e3eb36eb-7e9b-404d-9bd3-b486a42da3445204000053039865802BR5925A55 CONSULTORIA EM CREDIT6009Sao Paulo61080455202062070503***630451CA
                      qr_code: iVBORw0KGgoAAAANSUhEUgAAAZ8AAAGfCAIAAAAPgEjD…
                      expiration_date: 2025-03-27 23:59:59
                    reference_generated: PS2696
                    checkout_url: https://api.paysecure.net/payments/65f9368cb905381ba207b3c4/
                Pre-authorization:
                  value:
                    purchaseId: 64b032c3c6dccf7d329d9e7e
                    type: purchase
                    status: CREATED
                    client:
                      email: buyer@example.com
                      street_address: test test
                      country: IN
                      city: Jaipur
                      zip_code: "234567"
                      stateCode: CA
                    purchase:
                      currency: EUR
                      products:
                        - name: "Order #4411"
                          quantity: 1
                          price: 150
                          discount: 0
                          tax_percent: "0.00"
                      total: 150
                    brand_id: bd69e8a5-adcf-40de-9e43-2b87cb129a5e
                    merchantRef: d9db7ec0-f94c-4a9d-8883
                    reference_generated: PS161
                    status_history:
                      - status: created
                        timestamp: 1689268934
                    checkout_url: https://api.paysecure.net/payments/c3f2eee71c5824b75c7b52ff41e76814/
                    direct_post_url: https://api.paysecure.net/api/v1/p/64b032c3c6dccf7d329d9e7e/
                Recurring & mandates:
                  value:
                    purchaseId: 69f8d407ea26ad15715ebb85
                    status: PAID
                    payment_type: recurring
                    mandate_id: 685cc8515e3af922dd0e8c31
                    paymentMethod: VISA
                    amountUnit: MAJOR
                    client:
                      customerId: NA
                      email: recurring@yopmail.com
                      country: CA
                      city: London
                    purchase:
                      currency: USD
                      products:
                        - name: gaming cards
                          quantity: 1
                          price: 1
                      total: 1
                    payment:
                      payment_type: PURCHASE
                      amount: 1
                      currency: USD
                      net_amount: 1
                      fee_amount: 0
                      paid_on: 1777914887
                    transaction_data:
                      attempts:
                        - type: execute
                          payment_method: VISA
                          successful: true
                          extra:
                            card_brand: VISA
                            masked_pan: 41659827****0724
                            card_type: DEBIT
                    status_history:
                      - status: created
                        timestamp: 1777914887
                      - status: pending_execute
                        timestamp: 1777914888
                      - status: paid
                        timestamp: 1777914890
                Purchases:
                  value:
                    purchaseId: 6a1d26a3d373e5fd3c44ae14
                    status: created
                    checkout_url: https://api.paysecure.net/payment/6a1d26a3d373e5fd3c44ae14/
                    client:
                      customerId: NA
                      email: test-buyer@example.com
                      country: IN
                    merchantRef: ORDER-10045
                Skrill:
                  value:
                    purchaseId: 6a44fd1061ad9b6b462f5df9
                    status: CREATED
                    paymentMethod: SKRILL
                    amountUnit: MAJOR
                    errorMsg: ""
                    purchase:
                      currency: EUR
                      products:
                        - name: New Ebook Gaming cards
                          quantity: 1
                          price: 1
                      total: 1
                    client:
                      email: rahul@paysecure.net
                      full_name: Rahul Agarwal
                      country: MX
                      city: Jaipur
                    merchantRef: 6a44fd1061ad9b6b462f5df9
                    reference_generated: PS1222
                    status_history:
                      - status: created
                        timestamp: 1782906128
                    refund_availability: NONE
                    checkout_url: https://checkout.paysecure.net/payments/985f0b4ae3e1cac951f22ceb03bc1238/
                    created_on: 1782906128
                    updated_on: 1782906128
                SPEI:
                  value:
                    purchaseId: 683d768a22ae19559d740836
                    status: PAYMENT_IN_PROCESS
                    paymentMethod: SPEI
                    amountUnit: MAJOR
                    errorMsg: ""
                    merchantRef: 683d768a22ae19559d740836
                    purchase:
                      currency: MXN
                      products:
                        - name: Account deposit
                          quantity: 1
                          price: 100
                      total: 100
                      expireInMin: "4320"
                    payment:
                      payment_type: PURCHASE
                      amount: 100
                      currency: MXN
                      net_amount: 100
                      fee_amount: 0
                      paid_on: 1748858506
                    status_history:
                      - status: created
                        timestamp: 1748858506
                      - status: pending_execute
                        timestamp: 1748858506
                      - status: payment_in_process
                        timestamp: 1748858506
                    checkout_url: https://api.paysecure.net/payments/683d768a22ae19559d740836/
                    payInDetails:
                      clabe: "710969000049618169"
                      beneficiary: CHOICEPAY LTD.
                      amount: "100.00"
                ThirdParty UPI:
                  value:
                    purchaseId: 66c4667bb993c970367c288a
                    status: payment_in_process
                    paymentMethod: THIRDPARTY-UPI
                    amountUnit: MAJOR
                    merchantRef: 66c4667bb993c970367c288a
                    purchase:
                      currency: INR
                      products:
                        - name: test
                          quantity: 1
                          price: 1
                      total: 1
                    checkout_url: https://api.paysecure.net/payments/{token}/
                    payInDetails:
                      qrCode: iVBORw0KGgoAAAANSUhEUgAA...
                      gpayUri: gpay://upi/pay?am=1.00&cu=INR&pa=npstpay@timecosmos&pn=NPST%20PAY
                      phonepeUri: phonepe://pay?am=1.00&cu=INR&pa=npstpay@timecosmos&pn=NPST%20PAY
                      paytmUri: paytmmp://pay?am=1.00&cu=INR&pa=npstpay@timecosmos&pn=NPST%20PAY
                      generatedLink: https://staging.decf.in/pay/514o5z3m9z
                Network tokenisation:
                  value:
                    purchaseId: 69b32e42250ac73495aefd50
                    status: CREATED
                    paymentMethod: MASTER
                    amountUnit: MAJOR
                    merchantRef: 69b32e42250ac73495aefd50
                    purchase:
                      currency: USD
                      products:
                        - name: Product Name
                          quantity: 1
                          price: 10
                      total: 10
                    checkout_url: https://api.paysecure.net/payments/{token}/
                    status_history:
                      - status: created
                        timestamp: 1773350466
                UPI Solution:
                  value:
                    purchaseId: 6682942d5273633e7b8d30c8
                    status: payment_in_process
                    paymentMethod: UPI-QR
                    amountUnit: MAJOR
                    errorMsg: ""
                    merchantRef: 6682942d5273633e7b8d30c8
                    merchantName: merchant002
                    purchase:
                      currency: INR
                      products:
                        - name: Account deposit
                          quantity: 1
                          price: 100
                      total: 100
                    status_history:
                      - status: created
                        timestamp: 1719833645
                      - status: pending_execute
                        timestamp: 1719833645
                      - status: payment_in_process
                        timestamp: 1719833645
                    payInDetails:
                      expiration_date: 2025-03-27 23:59:59
                      qrCode: iVBORw0KGgoAAAANSUhEUgAAAb0AAAG9AQAAAACp…
                    checkout_url: https://api.paysecure.net/payments/6682942d5273633e7b8d30c8/
                Virtual Accounts (South Korea):
                  value:
                    purchaseId: 68441c2a7559cf659fd7e835
                    status: CREATED
                    paymentMethod: VIRTUAL-ACCOUNT
                    amountUnit: MAJOR
                    errorMsg: ""
                    merchantRef: 68441c2a7559cf659fd7e835
                    merchantName: Merchant002
                    client:
                      customerId: NA
                      email: buyer@example.kr
                      phone: "+821012345678"
                      full_name: Min-jun Kim
                      country: KR
                      city: Seoul
                      zip_code: "04524"
                      stateCode: "11"
                    purchase:
                      currency: KRW
                      products:
                        - name: Account deposit
                          quantity: 1
                          price: 100
                      total: 100
                    reference_generated: PS19963
                    status_history:
                      - status: created
                        timestamp: 1749294123
                    checkout_url: https://app.paysecure.net/payments/68441c2a7559cf659fd7e835/
                    is_test: false
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                Bank & local APMs:
                  value:
                    message: Brand not found!
                    code: transaction_error
                Apple Pay:
                  value:
                    message: applepay_param is missing or paymentData was re-serialised
                    code: Invalid_Parameter
                Bank Transfers:
                  value:
                    message: Transaction amount must be equal or greater to minimum trans amount
                    code: transaction_error
                Crypto & on-ramp:
                  value:
[...]
